.App{
  display: flex;
  justify-content: center;
  margin-top: 33vh;
}

.drumPads{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.drum-pad{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-pad.active {
  background-color: #ffcc00; /* Set your desired color for the active key */
}